# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
logs/
mlruns/
runs/

# Outputs
outputs/
checkpoints/

# Dataset
data/

# Environment variables
.env

# Notebooks
notebooks/